<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>A enthusiast student about olympic sports specially Egypt's contribution for the past years.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>